/* .calendar-container {
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    width: 180px;
    position: relative;
}
.calendar-day {
    font-size: 1rem;
    font-weight: 600;
    color: gray;
    margin: 0;
}
.calendar-date {
    font-size: 2.3rem;
    font-weight: bold;
    color: #333;
    margin: 0;
}
.calendar-month {
    font-size: 1rem;
    color: #6c757d;
    margin: 0;
} */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    color: #ff9900;
    cursor: pointer;
    padding: 5px;
    transition: 0.3s;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow:hover {
    color: #ced7d8;
}
.arrow-left {
    left: 10px;
}
.arrow-right {
    right: 10px;
}
.calendar {
    position: relative;
    width: 170px;
    height: 100px;
    background: linear-gradient(135deg, #007bff, #4682b4);
    border-radius: 10px;
    box-shadow: -15px 15px 20px rgba(0,0,0,0.2);
    overflow: visible;

}

.clip {
    position: absolute;
    top: -20px;
    width: 20px;
    height: 30px;
    background: #ff9900;
    border-radius: 40%;
    box-shadow: 0 10px 0px rgba(0,0,0,0.3);
    z-index: 10;
}

.clip.left {
    left: calc(50% - 30px);
}

.clip.right {
    left: calc(50% + 10px);
}

.date {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3.0rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3),
    2px 2px 0 rgba(0, 0, 0, 0.3),
    1px 1px 0 rgba(0, 0, 0, 0.3);
}

.date-day {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3),
    2px 2px 0 rgba(0, 0, 0, 0.3),
    2px 2px 0 rgba(0, 0, 0, 0.3);
}
.calendar-base {
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 20px;
    background: #ced7d8 ;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.3);
    z-index: -1;
}
.title-item{
    display: block;
    width: 100%;
    padding-left: 1rem;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    padding-right: 1rem;
    clear: both;
    font-weight: 600;
    color: #212529;
}

.user-profile-header-banner {
    width: 100%;
    /* object-fit: cover; */
    
    background-color: #405189;

}

.card-color, .card-color-header, .card-color-footer, .card-color-body{
    background-color: #9fa5c8;
    color: white;
    border-radius: 0.25rem;
}

.timeline-2::after{
    background-color: #000;
}
.btn-atendido{
    background-color: #dcf3f3; 
    color: #000; 
    border-color: #dcf3f3;
}

.btn-atendido:hover{
    background-color: #dcf3f3; 
    color: #000; 
    border-color: #dcf3f3;
}

.btn-no-confirmado{
    background-color: #fbf3e3; 
    color: #000; 
    border-color: #fbf3e3
}

.btn-no-confirmado:hover{
    background-color: #fbf3e3; 
    color: #000; 
    border-color: #fbf3e3
}

.btn-no-asiste{
    background-color: #fcd4cc; 
    color: #000; 
    border-color: #fcd4cc
}

.btn-no-asiste:hover{
    background-color: #fcd4cc; 
    color: #000; 
    border-color: #fcd4cc
}

.btn-time{
    background-color: #d2abe8; 
    color: #FFF; 
    border-color: #d2abe8;
    font-weight: 700;
}

.btn-time:hover{
    background-color: #d2abe8; 
    color: #FFF; 
    border-color: #d2abe8;
    font-weight: 700;
}

.spinner-task-pink{
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius:50%;
    vertical-align: middle;
    background: #FF007C;
}
.spinner-task-blue-primary{
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius:50%;
    vertical-align: middle;
    background: #00CCF2;
}
.spinner-task-blue-menu{
    height: 10px;
    width: 10px;
    display: inline-block;
    border-radius:50%;
    vertical-align: middle;
    background: #2D62ED;
}
.spinner-task-velvet{
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius:50%;
    vertical-align: middle;
    background: #7D00B5;
}

.spinner-task-rojo{
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius:50%;
    vertical-align: middle;
    background: #FF0000;
}

.spinner-task-green{
    height: 15px;
    width: 15px;
    display: inline-block;
    border-radius:50%;
    vertical-align: middle;
    background:#066602;
}

.avatar-paciente{
   position: absolute;
   top: 1em !important;
   left: 1em !important;
}

/** solo cuando sea un dispositivo movil hacer que las card tenga el 100% de su ancho */

@media (max-width: 768px) {
    .avatar-paciente{
        top: 1em !important;
        left: 1em !important;
    }

    .card-width{
        width: 20rem ! important;
    }

}
